<div>
<h3>Create new event</h3>

<form id="new_event" action="/event/create" method="post">
  <input type="text" name="name" placeholder="enter your name">
  <input type"email" name="email" placeholder="email">
  <input type="text" name="title" placeholder="title of event">
  <input type="date" name="date"  placeholder="date">
  <input type="submit" value="submit">
</form>
</div>
